<div class="div-view">
    <ul class="ul-nav">
        <li class="li-nav"><a class="li-a-nav" href="/"><img class="logo" src="/img/mario.png" alt="Logo"></a></li>
        <li class="li-nav"><a class="li-a-nav" href="/">Home</a></li>
        <li class="li-nav"><a class="li-a-nav" href="/about">About</a></li>
        <li class="li-nav"><a class="li-a-nav" href="/proposal">Proposal</a></li>
        <li class="li-nav"><a class="li-a-nav" href="https://salmon-rock-00b96d910.azurestaticapps.net/" target="_blank">The Team</a></li>
        <li class="li-nav-right"><a class="li-a-nav" href="/auth/logout">Logout</a></li>
    </ul>
</div>