<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome {{name}}</title>
    </head>
    <body>
        {{> logged-navigation}}
        {{{body}}}

        <noscript>
            Your browser doesn't support javaScript.
        </noscript>
    </body>
</html>