 <div class="div-view">
        <div>
            <link rel="stylesheet" href="/styling/index.css"/>
        </div>

        <div class = 'center'>
            <h1>About ScrumStars</h1>
        </div>

        <div>
            <p id = 'about' class = 'center'>
                Conceived in the mind of Joel Feddes, this
                website was created in the fall semester
                of 2021 for Eric Pogue's Software 
                Engineering course. After furious debate,
                this became the final project 
                idea for the notorious Sourpatch Engineers. 
                As development began in late October, 
                the ScrumStars project really began to take shape, and 
                it's potential to be a life-changing product
                for scrum teams across the world soon emerged.
                What was once the brainchild of a young scrummer
                looking to give his scrummates credit for 
                the hard work they had done, has the chance to
                 become a scrum staple for years to come...
            </p>
            <br>
            <p id = 'about' class = 'center'>
                In this innovative 
                product, you can create a scrum team, which
                includes scrum members. The members of the 
                scrum teams can access their team through
                group authentication. After authentication, team members can give their
                fellow scrummers ScrumStars if they feel their
                teammate deserves recognition for their hard, or creative,
                work. At the end of each sprint,
                whichever scrummer had the most ScrumStars is 
                presented with the sprint's MVP award, along with a brand
                new car! Ok, maybe only one of those things is given
                to the special scrummer.
            </p>
            <br>
            <p id = 'about' class = 'center'>
                At the time of writing these words, we are only 
                in sprint 1 of this product, but boy do we have
                high hopes for where this thing is going. We hope
                not only for Professor Pogue to require all future
                scrummers to utilize ScrumStars, but we also
                hope to become almighty Trello developers who can
                add ScrumStars as an agile power-up. Our lives
                will be complete if that day ever comes.
            </p>
            <br>
            <p id = 'about' class = 'center'>
                Thank you for visiting our product, and we wish
                you all the best in your scrumming adventures.
            </p>
            <br>
            <p id = 'about'>
                Sincerely, <br>
                Bryan, Ryan, Alex, Daniel, Joel, and Matthew
            </p>
        </div>
        
    </div>