
<div class="div-view">
    <div>
        <link rel="stylesheet" href="/styling/index.css">
    </div>
    <h1>{{TeamName}} Created!</h1>>
    <br>
    <div style="text-align: center;">
        <a href="/"><button id="butt" type="submit" name="submit">Return Home!</button></a>
    </div>
</div>