    <div class="div-view">
        <div>
            <link rel="stylesheet" href="/styling/index.css"/>
        </div>

        <div>
            <h1>Home Page</h1>
        </div>

        
    </div>