    <div>
        <link rel="stylesheet" href="/styling/index.css"/>
    </div>
    <div>
        <h1>Home Page</h1>
    </div>
    <div><a href="https://scrum-stars.azurewebsites.net/proposal">Project Proposal</a></div>