<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="div-view">
    
     <div>
        <link rel="stylesheet" href="/styling/index.css"/>
    </div>
    
    <div>
        <h1>Home Page</h1>
    </div>

    
    <div class = "center">
        <a href="/team_form"><button id = 'butt'>Create Team</button></a>
        <a href="/view_teams"><button id = 'butt'>View Teams</button></a>
    </div>
    

    
    <div class='center' id="teamsTable">
        <table>

            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Team Leader</th>
                    <th>Team Members</th>
                </tr>
            </thead>

            {{#each tableData}}
                <tr>
                    <td>{{this.teamName}}</td>
                    <td>{{this.scrumMaster}}</td>
                    <td>{{this.members}}</td>
                </tr>
            {{/each}}

        </table>
    </div>
    
</div>

<!-- LOGIN FORM CODE IF WE CAN'T GET GOOGLE AUTHENTICATION WORKING
<head>
<title> Login Page </title>
<style> 
Body {
  font-family: Helvetica, sans-serif;
}
button { 
       background-color: #4CAF50; 
       width: 100%;
        color: orange; 
        padding: 15px; 
        margin: 10px 0px; 
        border: none; 
        cursor: pointer; 
         } 
 form { 
        border: 3px solid #f1f1f1; 
    } 
 input[type=text], input[type=password] { 
        width: 100%; 
        margin: 8px 0;
        padding: 12px 20px; 
        display: inline-block; 
        border: 2px solid green; 
        box-sizing: border-box; 
    }
 button:hover { 
        opacity: 0.7; 
    } 
  .cancelbtn { 
        width: auto; 
        padding: 10px 18px;
        margin: 10px 5px;
    } 
      
   
 .container { 
        padding: 25px; 
        background-color: lightblue;
    } 
</style> 

</head>  
<body>  
    <center> <h1> Student Login Form </h1> </center> 
    <form>
        <div class="container"> 
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button> 
            <a href="/team_form"><button>Create Team</button></a>
            <input type="checkbox" checked="checked"> Remember me 
            <button type="button" class="cancelbtn"> Cancel</button> 
            Forgot <a href="#"> password? </a> 
        </div> 
    </form>   
</body>
--> 