
<body>
    <div>
        <link rel="stylesheet" href="/styling/index.css"/>
    </div>
    
    <div class = "TextSpacing">
        <div id = "PageHeader">
            Joel, Daniel, Alex, Bryan, Matthew, Ryan
            <br>
            Professor Pogue
            <br>
            CPSC 49000
            <br>
            10/30/2021
        </div>
        <header>
            <center><b>Scrum Stars</b></center>
        </header>
        <p>
            For our final project, the Sour Patch Engineers will be constructing an application that will allow scrum teams to create a team account, login to the account through authentication, add members to the team, add new sprints, and allow members to give each other uplifting ratings such as scrum stars. This application will encourage scrum team members to thank one another for help, as well as encourage team members to help one another. At the end of each sprint, a most-valuable-player award will be granted to the scrum team member with the most scrum stars. Likewise, at the end of the project, an overall MVP will be rewarded to the team member who has accumulated the most scrum stars over the course of the project.
        <br><br>
            From a technology standpoint, our team will utilize a Node.js and Express website hosted through Microsoft Azure. Additionally, we plan on implementing a MongoDB Atlas database to store the applications data points.
        </p>
        <br>
        <div><b>Feature List (prioritized list):</b></div>
        <ul>
            <li>User landing page</li>
            <li>About page</li>
            <li class = "SubBullet">Details how the application is intended to be used</li>
            <li>Ability to create and store a new scrum team</li>
            <li>Ability to add and store team members</li>
            <li class = "SubBullet"> Within the team view, allow users to add team members</li>
            <li>Select which user you are</li>
            <li class = "SubBullet">Allow users to select themselves</li>
            <li>Allow users to give other team members scrum star(s)</li>
            <li>MVP award</li>
            <li class = "SubBullet">At the end of each sprint, reward the team member with the most scrum stars an MVP award</li>
            <li>Overall MVP award</li>
            <li class = "SubBullet">Return an overall MVP award at the end of the project to the team member with the most scrum stars</li>
        </ul>

        <div><b>Future Features List:</b></div>
        <ul>
            <li>Projecctions</li>
            <li class = "SubBullet">Demonstrate how many scrum stars each team member will finish with (and their associated ranking based on those scrum stars)</li>
            <li>FAQ Page</li>
            <li class = "SubBullet">Allows team members to submmit questions and receive answers from eachother</li>
            <li>User login</li>
            <li class = "SubBullet">Allows team members to authenticate at a user level after logging into the scrum team</li>
        </ul>

        <div><b>Basic Technical Features List:</b></div>
        <ul>
            <li>Node.js with Express Azure web page</li>
            <Li>Metrics</Li>
        </ul>

        <div><b>Advanced Technical Features:</b></div>
        <ul>
            <li>Store Data</li>
            <li class = "SubBullet">Store application data to a MongoDB Atlas database</li>
            <li>Team login</li>
            <li class = "SubBullet">Ability to login to an existing scrum team through authentication</li>
        </ul>
    </div>
</body>
