<body>
    <div class="div-view" style="text-align:center;">
    <div>
        <link rel="stylesheet" href="/styling/index.css"/>
    </div>

    <head>
        <h1>Team Creation</h1>
    </head>
    
    <form action="/team-form/complete?form=teamform" method="post" id='team_form'>
    <div id="TeamName">
        <label for="name"><div style = "color: rgb(255,213,0);">Team Name</div></label>
        <input type="text" id="name" name="team">
    </div>

    <div id="ScrumMaster">
        <label for="master"><div style = "color: rgb(255,213,0);">Scrum Master</div></label>
        <input type="text" id="master" name="master">
    </div>

    <div id="MemberList">
        <h1>Enter Members</h1>
        <label for="firstMember"><div style = "color: rgb(255,213,0);">Member Name</div></label>
        <input type="text" id="firstMember"></br>
    </div>

    <div id="AddMember">
        <button type="button" onclick="createMember()">Add a member</button>
    </div>

    <input type="hidden" id="members" name="members"></p>

    <div id="SubmitButton">
            <button id="butt" type="submit" name="submit" value="Create Team" onclick="recordTeam()">Create Team</button>                    
    
    <script>
        function createMember() {
            var input = document.createElement("input");
            input.setAttribute('id', 'input');
            input.setAttribute('type', 'text');
            var parent = document.getElementById("MemberList");
            parent.appendChild(input);
            linebreak = document.createElement("br");
            parent.appendChild(linebreak);
            
        }

        function recordTeam() {
            var x = document.getElementsByTagName("input");
            const members = [];
            for(i = 0; i < x.length; i++) {
                if (x[i].value != "") {
                    if (i > 0 || i == x.length-2){
                        members.push(x[i].value);
                    }
                }
            }
            document.getElementById("members").value = members
        }
    </script>
    
    </form>
    </div>
    </div>
    
    
</body>