<body>
    <div class="div-view" style="text-align:center;">
    <div>
        <link rel="stylesheet" href="/styling/index.css"/>
    </div>

    <head>
        <h1>Team Creation</h1>
    </head>
    
    <form action="/team-form/complete?form=teamform" method="post" id='team_form'>
    <div id="TeamName" class = 'center'>
        <input type = 'text' id = 'textbox' class = 'center textbox'
         placeholder='Enter team name'>
    </div>

    <div id="ScrumMaster" class = 'center'>
        <input type = 'text' id = 'textbox' class = 'center textbox'
         placeholder="Enter scrum master">
    </div>

    <div id="MemberList" class='center'>
        <input type = 'text' id = 'textbox' class = 'center textbox' 
        onkeyup='AddMember(event)' placeholder='Enter member name'>
    </div>

    <div id="AddMember" class = 'center'>
        <button type="button" id = 'flatbutt' class = 'center'
         onclick="createMember()">Add member</button>
    </div>

    <input type="hidden" id="members" name="members"></p>

    <div id="SubmitButton" class = 'center'>
            <button type="submit" name="submit" class = 'center'
             onclick="recordTeam()">Create Team</button>                    
    
    <script>
        function createMember() {
            var input = document.createElement("input");
            input.setAttribute('id', 'input');
            input.setAttribute('type', 'text');
            var parent = document.getElementById("MemberList");
            parent.appendChild(input);
            linebreak = document.createElement("br");
            parent.appendChild(linebreak);
            
        }

        function recordTeam() {
            var x = document.getElementsByTagName("input");
            const members = [];
            for(i = 0; i < x.length; i++) {
                if (x[i].value != "") {
                    if (i > 0 || i == x.length-2){
                        members.push(x[i].value);
                    }
                }
            }
            document.getElementById("members").value = members
        }
    </script>
    
    </form>
    </div>
    </div>
    
    
</body>