body {
    background-color: azure;
    margin: 0;
}

h1 {
    text-align: center;
}

table, th, td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 76, 194);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    
}

.li-nav {
    float: left;
    font-size: 20px;
    
}

.li-a-nav {
    display: block;
    color: rgb(181, 181, 182);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    height: 30px; 
}

li a:hover {
    background-color: rgb(34, 34, 112);
}

.SubBullet{
    list-style-type: circle;
    padding-bottom: 0;
    margin-left:20px;
}

.logo {
    width: 30px;
    height: 30px;
}