/*
--------------------------------- GENERAL -----------------------------------
*/

body {
    background-color:rgb(42,0,128);
    font-family:'Segoe UI';
    margin: 0;
}

h1 {
    text-align: center;
    color:rgb(255,213,0);
}

.center { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

h2 {
    text-align: center;
    color:rgb(255,213,0);
}

caption {
    color:rgb(255,213,0);
    font-family:'Segoe UI';
    padding: 0.5em 0.5em 0.5em
}

/*
-------------------------- NAV BAR ------------------------
*/

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255,213,0);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 20px rgb(0,0,0);
    
}

.li-nav {
    float: left;
    font-size: 20px;
}

.li-nav-right {
    float: right;
    font-size: 20px;
}

.li-a-nav {
    display: block;
    color: rgb(42,0,128);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration:.4s;    
}

li a:hover {
    background-color: rgb(42,0,128);
    color: rgb(255,213,0);
    transform:scale(1.1)
}

/* 
------------------------------- BUTTONS ----------------------------------
*/

button{
    border:thick solid rgb(255,213,0); 
    background-color:rgb(42,0,128);
    color:rgb(255,213,0);
    border-radius:10px;
    text-align: center; 
    font-size:28px; 
    padding: 20px; 
    width: 200px;
    height: 100px; 
    margin: 5px;
    transition-duration: 0.4s;
    left:48%;
    margin:15px;
    box-shadow: 0 0 20px rgb(0,0,0);
}

button:hover{
    transform:scale(1.1); 
    font-weight:bold;
    color:rgb(42,0,128);
    border-color:rgb(42,0,128);
    background-color:rgb(255,213,0);
}

#flatbutt{
    border:thick solid rgb(255,213,0); 
    background-color:rgb(42,0,128);
    color:rgb(255,213,0);
    border-radius:10px;
    text-align: center; 
    font-size:18px; 
    padding: 20px; 
    width: 200px;
    height: 30px; 
    margin: 4px;
    transition-duration: 0.4s;
    left:48%;
    margin:15px;
    box-shadow: 0 0 20px rgb(0,0,0);
}

/*
-------------------------------------------- TABLE --------------------------------------
*/

table { 
    border-collapse: collapse;
    border:thin solid rgb(255,213,0);
    border-radius:5px 5px 0 0;
    overflow:hidden;
    margin: 25px 0;
    min-width: 400 px; 
    box-shadow: 0 0 20px rgb(0,0,0);
    display:block;
    width:75%
}

thead {
    background-color: rgb(255,213,0);
    color:rgb(42,0,128); 
    text-align: left;
}

th, td {
    padding: 12px 15px;
    width:2.5%;
    transition-duration:.4s;
}

tbody{
    border-bottom: thin solid rgb(255,213,0);
    color:rgb(255,213,0)
}

tr:nth-of-type(even) {
    background-color:rgb(48, 24, 114);
}

tr:hover {
    font-weight:bold;
    box-shadow: 0 0 20px rgb(75,75,75);
}

/*
----------------------------------------------- ABOUT PAGE ------------------------------------
*/

#about {
    color:rgb(255,213,0);
    margin: 0px 60px;
}




.SubBullet{
    list-style-type: circle;
    padding-bottom: 0;
    margin-left:20px;
}

.logo {
    width: 30px;
    height: 30px;
}

/*
-------------------------- Project Proposal ------------------------
*/
.TextSpacing{
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(255,213,0);
}

/*
----------------------------------------- ENTRY FIELDS -------------------------------
*/

#textbox 
{
  background-color: transparent;
  border: 4px solid rgb(255,213,0);
  height: 30px;
  width: 200px;
  padding: 0 0px;
  font-size: 1.1em;
  font-weight: lighter;
  color: rgb(168, 147, 226);
  border-radius: 24px;
  transition-duration: 0.4s;
  padding:4px;
  margin:5px;
}

#textbox:hover 
{
    width:205px;
    font-weight:bolder;
}
#textbox:focus
{
    color:rgb(255,213,0);
    font-weight:bolder;
    outline:none;
    border-color:transparent; 
    box-shadow: 0 0 20px rgb(255,213,0);
}

#textboxerror {
        background-color: transparent;
        border: 4px solid rgb(216, 79, 102);
        height: 30px;
        width: 200px;
        padding: 0 0px;
        font-size: 1.1em;
        font-weight: lighter;
        color: rgb(216, 79, 102);
        border-radius: 24px;
        transition-duration: 0.4s;
        padding:12px; 
}

#textboxerror:hover 
{
    width:205px;
    font-weight:bolder;
}
#textboxerror:focus
{
    color:rgb(255,213,0);
    font-weight:bolder;
    outline:none;
    border-color:transparent; 
    box-shadow: 0 0 20px rgb(255,213,0);
}

